* {
  font-family: 'Montserrat', sans-serif; }

body {
  color: #ffffff;
  padding: 0;
  margin: 0; }

a, a:hover, a:active, .navbar-header, .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
  /*Sets the text hover color on navbar*/ }

.lecerli {
  font-family: 'Leckerli One', cursive; }

.btn, .btn:hover {
  color: #ffffff;
  transition-duration: 0.3s; }

.input_field{
  padding: 0 18px !important; }

.textarea_field{
    padding: 15px 18px !important; }

.jumbotron .header, .jumbotron .who, .jumbotron .services, .jumbotron .profiles, .jumbotron .clients, .jumbotron .blog, .jumbotron .footer{
  margin:0; } 

.jumbotron {
  margin: 0;
  padding: 0;
  /*nav*/
  /* header */
  /* profiles */
  /*clients */
  /*blog*/
  /*services*/
  /*who*/
  /*footer*/ }
  .jumbotron .transparent {
    background: transparent;
    border: none;
    padding: 0 9em; }
    .jumbotron .transparent .menu_line1, .jumbotron .transparent .menu_line2, .jumbotron .transparent .menu_line3, .jumbotron .transparent .menu_line4, .jumbotron .transparent .menu_line5, .jumbotron .transparent .menu_line6 {
      height: 3px;
      background-color: #0081ff;
      opacity: 0; }
    .jumbotron .transparent .menu_link1:hover > .menu_line1, .jumbotron .transparent .menu_link2:hover > .menu_line2, .jumbotron .transparent .menu_link3:hover > .menu_line3, .jumbotron .transparent .menu_link4:hover > .menu_line4, .jumbotron .transparent .menu_link5:hover > .menu_line5, .jumbotron .transparent .menu_link6:hover > .menu_line6 {
      opacity: 1; }
    .jumbotron .transparent .navbar-brand h3 {
      font-weight: 700;
      font-size: 2em;
      color: #ffffff; }
      .jumbotron .transparent .navbar-brand h3 span {
        color: #0081ff; }
    .jumbotron .transparent .navbar-brand h3:hover {
      color: #e3e3e3; }
    .jumbotron .transparent .navbar-brand:hover {
      border-top: none; }
    .jumbotron .transparent a {
      font-size: 0.8em; }
  .jumbotron .header {
    background: url(../images/head.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 6em 10em 0 10em;
    height: 95vh; }
    .jumbotron .header .header_text {
      padding-left: 0; margin-top: 10vh;}
      .jumbotron .header .header_text h3 {
        font-size: 1.8em;
        padding-top: 2em; }
      .jumbotron .header .header_text h1 {
        font-size: 3em;
        font-weight: 700; }
        .jumbotron .header .header_text h1 span {
          color: #0081ff; }
      .jumbotron .header .header_text h2 {
        font-size: 1.5em; }
      .jumbotron .header .header_text p {
        font-size: 0.9em;
        padding: 2em 0 3em 0.3em; }
      .jumbotron .header .header_text .btn_header {
        background-color: #00AEED;
        margin: 1em 0 0 .3em;
        border-radius: 1.5em;
        border: none;
        font-size: 0.8em;
        padding: 0.7em 2em; }
      .jumbotron .header .header_text .btn_header:hover {
        background-color: #0081ff; }
    .jumbotron .header .header_image #dancer {
      width: 100%;
      padding-top: 2em; }
  .jumbotron .profiles {
    background-color: #ffffff; }
    .jumbotron .profiles h3, .jumbotron .profiles h2 {
      text-align: center; }
    .jumbotron .profiles h3 {
      color: #565656;
      padding-top: 2em;
      font-size: 1.8em;
      margin-bottom: 0; }
    .jumbotron .profiles h2 {
      color: #000;
      font-weight: 700;
      font-size: 1.9em;
      padding-bottom: 0.5em; }
    .jumbotron .profiles .col-sm-6, .jumbotron .profiles .col-sm-3 {
      padding: 0; }
    .jumbotron .profiles .profile_image {
      width: 100%;
      padding: 0;
      margin: 0;
      -webkit-filter: brightness(100%); }
    .jumbotron .profiles .profile_image:hover {
      -webkit-filter: brightness(60%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease; }
  .jumbotron .clients {
    background: url(../images/mountain_bg.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0 10em 6em 10em;
    text-align: center; }
    .jumbotron .clients h3 {
      padding-top: 2em;
      margin: 0;
      padding-bottom: 0.2em; }
    .jumbotron .clients h2 {
      font-weight: 700;
      font-size: 2em; }
    .jumbotron .clients p {
      font-size: 0.9em;
      padding: 0 8em 5em 8em; }
    .jumbotron .clients .logo {
      width: 100%;
      padding: 0 1em;
      margin: 0; }
  .jumbotron .blog {
    padding: 5em 10em 6em 10em;
    text-align: center;
    background-color: #ffffff;
    /*blog_left*/
    /*blog_right*/ }
    .jumbotron .blog .blog_left .blue_rect:hover, .jumbotron .blog .blog_left .gray_rect:hover, .jumbotron .blog .blog_left .black_rect:hover {
      cursor: pointer;
      opacity: 0.85; }
    .jumbotron .blog .blog_left .blog_default {
      text-align: left; }
      .jumbotron .blog .blog_left .blog_default h3 {
        color: #565656; }
      .jumbotron .blog .blog_left .blog_default h2 {
        color: #000;
        font-weight: 700;
        font-size: 1.9em;
        padding-bottom: 0.5em; }
      .jumbotron .blog .blog_left .blog_default p {
        color: #000;
        font-size: 1em;
        padding-bottom: 2em;
        margin-bottom: 0; }
    .jumbotron .blog .blog_left .blue_rect {
      background-color: #007EF9;
      padding: 2em 1.2em 0.005em 1.2em; }
      .jumbotron .blog .blog_left .blue_rect h5 {
        font-size: 1.2em;
        padding-bottom: 0.3em; }
    .jumbotron .blog .blog_left .gray_rect {
      color: #363636;
      margin-top: 2em;
      margin-right: 1em;
      width: 46.5%;
      background-color: #EAEAEA;
      padding: 1.2em 0 2.8em 0; }
      .jumbotron .blog .blog_left .gray_rect h4 {
        font-weight: 700; }
    .jumbotron .blog .blog_left .black_rect {
      margin: 2em 0 0 1em;
      width: 46.5%;
      background-color: #000;
      padding: 1.2em 0 2.8em 0; }
      .jumbotron .blog .blog_left .black_rect h4 {
        font-weight: 700; }
    .jumbotron .blog .blog_right .back_rect:hover, .jumbotron .blog .blog_right .pink_rect:hover {
      cursor: pointer;
      opacity: 0.85; }
    .jumbotron .blog .blog_right .back_rect {
      background-image: url(../images/blog_bg.png);
      height: 29.2em;
      padding: 1em; }
      .jumbotron .blog .blog_right .back_rect h5 {
        font-size: 1.2em;
        padding-top: 2em; }
      .jumbotron .blog .blog_right .back_rect h5 {
        padding-top: 0; }
      .jumbotron .blog .blog_right .back_rect h2 {
        padding-top: 2em; }
    .jumbotron .blog .blog_right .pink_rect {
      background-color: #E91D62;
      margin-top: 2em;
      padding: 1.2em; }
      .jumbotron .blog .blog_right .pink_rect h5 {
        margin-bottom: 0; }
      .jumbotron .blog .blog_right .pink_rect h4 {
        font-weight: 700; }
      .jumbotron .blog .blog_right .pink_rect p {
        font-size: 1em; }
  .jumbotron .services {
    background-color: #007AF3;
    padding: 0 10em 5em 10em; }
    .jumbotron .services h3, .jumbotron .services h2 {
      text-align: center; }
    .jumbotron .services h3 {
      padding: 2em 0 .2em 0;
      margin: 0; }
    .jumbotron .services h2 {
      font-weight: 700;
      font-size: 1.9em;
      padding-bottom: 1em; }
    .jumbotron .services .service_section {
      padding: 0 2em; }
      .jumbotron .services .service_section h5 {
        font-size: 1.3em; }
      .jumbotron .services .service_section p {
        font-size: 0.9em; }
  .jumbotron .who {
    background-color: #0081FF;
    padding: 5em 10em;
    /*who_left*/
    /*who_right*/ }
    .jumbotron .who .who_left {
      padding-left: 0; }
      .jumbotron .who .who_left h2 {
        font-size: 2em;
        font-weight: 700; }
      .jumbotron .who .who_left h3 {
        font-size: 1.8em; }
      .jumbotron .who .who_left p {
        font-size: 0.9em; }
      .jumbotron .who .who_left .btn_who {
        margin-top: 1em;
        background-color: #3C4270;
        border-radius: 1.5em;
        border: none;
        font-size: 0.8em;
        padding: 0.7em 2em; }
      .jumbotron .who .who_left .btn_who:hover {
        background-color: #505691; }
    .jumbotron .who .who_right p {
      font-size: 0.9em; }
  .jumbotron .footer {
    padding: 4em 10em 4em 10em;
    background: url(../images/footer.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    /*footer_left*/
    /*footer_right*/
    /*footer_icons*/ }
    .jumbotron .footer .footer_left {
      padding-left: 0; }
      .jumbotron .footer .footer_left h3 {
        margin-bottom: 0; }
      .jumbotron .footer .footer_left h2 {
        font-weight: 700;
        font-size: 2em;
        padding-bottom: 0.7em; }
      .jumbotron .footer .footer_left .info_section .footer_info_icon {
        display: inline-block;
        padding-left: 0;
        margin-top: 3em;
        text-align: center; }
      .jumbotron .footer .footer_left .info_section .footer_left_text {
        display: inline-block;
        margin-top: 3em; }
        .jumbotron .footer .footer_left .info_section .footer_left_text h6 {
          margin-bottom: 0.4em;
          font-size: 0.9em;
          font-weight: 700; }
        .jumbotron .footer .footer_left .info_section .footer_left_text p {
          font-size: 0.8em;
          margin-bottom: 0.4em; }
    .jumbotron .footer .footer_right {
      margin-bottom: 3em; }
      .jumbotron .footer .footer_right h2 {
        font-weight: 700;
        font-size: 2em; }
      .jumbotron .footer .footer_right .form-control:focus {
        border-color: #2b2b2b;
        box-shadow: inset 0 1px 1px rgba(43, 43, 43, 0.07), 0 0 8px rgba(97, 105, 74, 0.6); }
      .jumbotron .footer .footer_right .form-group label {
        font-size: 0.8em; }
      .jumbotron .footer .footer_right .form-group input, .jumbotron .footer .footer_right .form-group textarea {
        margin-left: 2em;
        background-color: #2B2B2B;
        border: none;
        border-radius: 2em; }
      .jumbotron .footer .footer_right .form-group input {
        padding: 0; }
      .jumbotron .footer .footer_right .form-group textarea {
        resize: none;
        height: 100px; }
      .jumbotron .footer .footer_right .form-group .btn_footer {
        background-color: #0280F8;
        margin: 1em 0 2.3em 0;
        border-radius: 1.5em;
        border: none;
        font-size: 0.8em;
        padding: 0.7em 2em; }
      .jumbotron .footer .footer_right .form-group .btn_footer:hover {
        background-color: #39a3f8; }
    .jumbotron .footer .footer_icons {
      text-align: center; }
      .jumbotron .footer .footer_icons i:hover {
        color: #ffffff; }
      .jumbotron .footer .footer_icons .social_icon {
        font-size: 1.6em;
        width: 2.5em;
        text-align: center;
        padding-top: 0.4em;
        line-height: 1.6em;
        color: #ffffff;
        border-radius: 50%;
        display: inline-block;
        height: 2.5em;
        border: 2px solid #ffffff;
        margin: 0.5em; }
      .jumbotron .footer .footer_icons .social_icon:hover {
        background-color: #0280F8;
        cursor: pointer; }
    .jumbotron .footer .copyright {
      padding-top: 5em; }
      .jumbotron .footer .copyright p {
        text-align: center;
        font-size: 0.8em; }

/*jumbotron*/
@media only screen and (max-width: 350px) {
  .jumbotron {
    /*blog*/ }
    .jumbotron .header {
      padding: 0;
      height: auto; }
    .jumbotron .blog .blog_left .black_rect {
      margin: 0; }
    .jumbotron .blog .blog_right .back_rect {
      height: 70%; }
      .jumbotron .blog .blog_right .back_rect h2 {
        padding: 0;
        font-size: 2em; }
      .jumbotron .blog .blog_right .back_rect h5 {
        font-size: .9em; }
    .jumbotron .blog .blog_right .pink_rect p {
      font-size: .8em; } }
/* 350 px*/
@media only screen and (max-width: 420px) {
  .profiles .col-xs-6, .profiles .col-xs-3 {
    width: 100%; }
  .profiles .profile_image_1, .profiles .profile_image_5, .profiles .profile_image_2, .profiles .profile_image_3, .profiles .profile_image_6, .profiles .profile_image_4 {
    height: 20em !important; }

  /* profiles*/ }
@media only screen and (min-width: 421px) {
  .profiles .profile_image_1, .profiles .profile_image_5 {
    height: 10em; }
  .profiles .profile_image_2, .profiles .profile_image_3, .profiles .profile_image_6 {
    height: 6em; }
  .profiles .profile_image_4 {
    height: 16em; }

  /* profiles*/ }
@media only screen and (min-width: 600px) {
  .profiles .profile_image_1, .profiles .profile_image_5 {
    height: 13em; }
  .profiles .profile_image_2, .profiles .profile_image_3, .profiles .profile_image_6 {
    height: 9em; }
  .profiles .profile_image_4 {
    height: 22em; }

  /* profiles*/ }
@media only screen and (max-width: 767px) {
  .jumbotron {
    /*header */
    /*who */
    /*services*/
    /* profiles*/
    /*clients*/
    /*blog*/ }
    .jumbotron .navbar {
      padding: 0 2em; }
    .jumbotron .navbar-collapse .navbar-nav{
      background-color: #000; }
    .jumbotron .header {
      padding: 2em; }
      .jumbotron .header .header_text h1 {
        font-size: 2em; }
      .jumbotron .header .header_text p {
        padding: 0; }
      .jumbotron .header .header_image #dancer {
        display: none; }
    .jumbotron .who {
      padding: 3em 3em 2em 3em; }
      .jumbotron .who .who_right {
        padding: 2em 0; }
    .jumbotron .services {
      padding: 0 3em 2em 3em; }
      .jumbotron .services .service_section {
        padding: 0; }
        .jumbotron .services .service_section img {
          padding-bottom: 1.3em; }
        .jumbotron .services .service_section p {
          padding-bottom: 3em; }
    .jumbotron .profiles .profile_image_1, .jumbotron .profiles .profile_image_5 {
      height: 14em; }
    .jumbotron .profiles .profile_image_2, .jumbotron .profiles .profile_image_3, .jumbotron .profiles .profile_image_6 {
      height: 10em; }
    .jumbotron .profiles .profile_image_4 {
      height: 24em; }
    .jumbotron .clients {
      padding: 0 3em 2em 3em; }
      .jumbotron .clients p {
        padding: 0;
        margin-bottom: 5em; }
      .jumbotron .clients .logo {
        margin-bottom: 2.5em; }
    .jumbotron .blog {
      padding: 3em 3em 2em 3em; }
      .jumbotron .blog .blog_left .gray_rect {
        width: 100%;
        margin: 2em 0 2em 0; }
        .jumbotron .blog .blog_left .gray_rect h5 {
          font-size: 0.8em; }
        .jumbotron .blog .blog_left .gray_rect h4 {
          font-size: 1.3em; }
      .jumbotron .blog .blog_left .black_rect {
        width: 100%;
        margin: 0 0 2em 0; }
        .jumbotron .blog .blog_left .black_rect h5 {
          font-size: 0.8em; }
        .jumbotron .blog .blog_left .black_rect h4 {
          font-size: 1.3em; }
    .jumbotron .footer {
      padding: 3em 3em 2em 3em; }
      .jumbotron .footer .footer_right h2 {
        padding: 1em 0 1em 0; } }
/* 767 px*/
@media only screen and (min-width: 768px) {
  .jumbotron {
    /*header */
    /*who */
    /*services*/
    /* profiles*/
    /*clients*/
    /*blog*/ }
    .jumbotron .navbar {
      padding: 0 1em; }
   
    .jumbotron .header .header_text h3 {
      padding: 0; }
    .jumbotron .header .header_text h1 {
      font-size: 2em; }
    .jumbotron .header .header_text h2 {
      font-size: 1.4em; }
    .jumbotron .header .header_text p {
      padding-top: 0;
      padding-bottom: 0; }
    .jumbotron .who .who_left {
      padding-right: 1em; }
    .jumbotron .who .who_right {
      padding-left: 1em; }
    .jumbotron .who .btn_who {
      margin-bottom: 2.5em; }
    .jumbotron .services .service_section {
      padding: 0; }
      .jumbotron .services .service_section .col-sm-3 {
        padding: 0 0 0 3em; }
      .jumbotron .services .service_section h5 {
        font-size: 1em; }
      .jumbotron .services .service_section img {
        padding-bottom: 1.3em; }
      .jumbotron .services .service_section p {
        padding-bottom: 3em; }
    .jumbotron .profiles .profile_image_1, .jumbotron .profiles .profile_image_5 {
      height: 22em; }
    .jumbotron .profiles .profile_image_2, .jumbotron .profiles .profile_image_3, .jumbotron .profiles .profile_image_6 {
      height: 15em; }
    .jumbotron .profiles .profile_image_4 {
      height: 37em; }
    .jumbotron .clients p {
      padding: 0;
      margin-bottom: 5em; }
    .jumbotron .clients .logo {
      margin-bottom: 2.5em; }
    .jumbotron .blog .blog_left {
      padding: 0 1em 0 0; }
      .jumbotron .blog .blog_left .blog_default {
        height: 21em; }
      .jumbotron .blog .blog_left .blue_rect {
        height: 20em; }
      .jumbotron .blog .blog_left .gray_rect {
        width: 100%;
        margin: 1em 0 0 0;
        height: 12em; }
      .jumbotron .blog .blog_left .black_rect {
        margin: 1em 0;
        width: 100%;
        height: 12em; }
    .jumbotron .blog .blog_right {
      padding: 0 0 1em 0; }
      .jumbotron .blog .blog_right .back_rect {
        height: 41em; }
        .jumbotron .blog .blog_right .back_rect h2 {
          padding: 0;
          font-size: 2em; }
        .jumbotron .blog .blog_right .back_rect h5 {
          font-size: 1em; }
      .jumbotron .blog .blog_right .pink_rect {
        margin: 1em 0;
        height: 25em; }
        .jumbotron .blog .blog_right .pink_rect p {
          margin-bottom: 13.5em; }
    .jumbotron .footer .footer_right .btn_footer {
      margin-bottom: 5em; } }
/* >767 px*/
@media only screen and (min-width: 1050px) {
  .jumbotron .blog .blog_left .blog_default {
    height: 15em; }
  .jumbotron .blog .blog_left .blue_rect {
    height: 15em; }
  .jumbotron .blog .blog_left .gray_rect {
    width: 48%;
    margin-right: 2%;
    height: 15em; }
  .jumbotron .blog .blog_left .black_rect {
    width: 48%;
    margin-left: 2%;
    height: 15em; }
  .jumbotron .blog .blog_right .pink_rect {
    height: 15em; }
  .jumbotron .blog .blog_right .back_rect {
    height: 30em; }
    .jumbotron .blog .blog_right .back_rect h2 {
      padding-top: 5em; }
    .jumbotron .blog .blog_right .back_rect h5 {
      padding-top: 1em; } }
/* > 1050px*/

/*# sourceMappingURL=style.css.map */
