*{
  font-family: 'Montserrat', sans-serif;
}

body{
  background-color: gray;
  color: #fff;
  padding:0;
  margin:0;
}

a, a:hover{
  color:#fff !important;
}

.lecerli{
  font-family: 'Leckerli One', cursive;
}

.jumbotron{
  margin:0;
  padding:0;

  .transparent{
    background:transparent;
    border:none;
    padding: 0 9em;
    .navbar-default .navbar-nav>li>a{
      color:#fff;
    }
    #menu_line1,#menu_line2,#menu_line3,#menu_line4,#menu_line5,#menu_line6{
      height:3px;
      background-color: #0081ff;
      opacity:0
    }
    #menu_link1:hover{
      #menu_line1 {
        opacity: 1;
      }
    }
    #menu_link2:hover{
      #menu_line2 {
        opacity: 1;
      }
    }
    #menu_link3:hover{
      #menu_line3 {
        opacity: 1;
      }
    }
    #menu_link4:hover{
      #menu_line4 {
        opacity: 1;
      }
    }
    #menu_link5:hover{
      #menu_line5 {
        opacity: 1;
      }
    }
    #menu_link6:hover{
      #menu_line6 {
        opacity: 1;
      }
    }
    a:hover {
      color:#fff;
    }
    .navbar-brand{
      h3{
        font-weight: 700;
        font-size:2em;
        color:#fff;
        span{
          color: #0081ff;
        }
      }
    }
    .navbar-brand:hover{
      border-top:none;
    }
    a{
      font-size:0.8em;
      color:#fff;
    }
  }/*nav*/

  .header{
    background: url(../images/head.png) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    margin: 0;
    padding:6em 10em 0 10em;
    height:100vh;

    .header_text{
      padding-left: 0;
      h3{
        font-size:1.8em;
        padding-top:2em;
      }
      h1{
        font-size:3em;
        font-weight: 700;
        span{
          color: #0081ff;
        }
      }
      h2{
        font-size: 1.5em;
      }
      p{
        font-size:0.9em;
        padding:2em 0 3em 0.3em;
      }
      .btn_header{
        background-color: #00AEED;
        margin-top:1em;
        margin-left:0.3em;
        color:#fff;
        border-radius: 1.5em;
        border:none;
        font-size:0.8em;
        padding:0.7em 2em;
      }
      .btn_header:hover{
        background-color:#0081ff;
      }
    }
    .header_image{
      #dancer{
        width:100%;
        padding-top:2em;
      }
    }
  }/* header */

  .profiles{
    background-color:#fff;
    h3,h2{
      text-align: center;
    }
    h3{
      color:#565656;
      padding-top:2em;
      font-size:1.8em;
      margin-bottom:0;
    }
    h2{
      color:#000;
      font-weight: 700;
      font-size:1.9em;
      padding-bottom: 0.5em;
    }
    .col-sm-6,.col-sm-3{
      padding:0;
    }
    .profile_image{
      width:100%;
      padding:0;
      margin:0;
      -webkit-filter: brightness(100%);
    }
    .profile_image:hover{
      -webkit-filter: brightness(60%);
      -webkit-transition: all 1s ease;
      -moz-transition: all 1s ease;
      -o-transition: all 1s ease;
      transition: all 1s ease;
    }
    .profile_image_1,.profile_image_5{
      height:17em;
    }
    .profile_image_2,.profile_image_3,.profile_image_6{
      height:10em;
    }
    .profile_image_4{
      height:27em;
    }
  }/* profiles */

  .clients{
    color:#fff;
    background:url(../images/mountain_bg.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding:0 10em 6em 10em;
    text-align: center;
    h3{
      padding-top:2em;
      margin:0;
      padding-bottom:0.2em;
    }
    h2{
      font-weight: 700;
      font-size: 2em;
    }
    p{
      font-size: 0.9em;
      padding:0 8em 5em 8em;
    }
    .logo{
      width:100%;
      padding:0 1em;
      margin:0;
    }
  }/*clients */
  .blog{
    padding:5em 10em 6em 10em;
    text-align: center;
    background-color: #fff;
    .blog_left{
      .blue_rect:hover,.gray_rect:hover,.black_rect:hover{
        cursor: pointer;
        opacity: 0.85;
      }
      .blog_default{
        text-align: left;
        h3{
          color:#565656;
        }
        h2{
          color:#000;
          font-weight: 700;
          font-size:1.9em;
          padding-bottom: 0.5em;
        }
        p{
          color: #000;
          font-size:1em;
          padding-bottom: 2em;
        }
      }
      .blue_rect{
        color:#fff;
        background-color: #007EF9;
        padding:2em 1.2em 0.005em 1.2em;
        h5{
          font-size:1.2em;
          padding-bottom:0.3em;
        }
      }
      .gray_rect{
        color:#363636;
        margin-top:2em;
        margin-right:1em;
        width:46.5%;
        background-color: #EAEAEA;
        padding:1.2em 0 2.8em 0;
        h4{
          font-weight: 700;
        }
      }
      .black_rect{
        color:#fff;
        margin-top:2em;
        margin-left:1em;
        width:46.5%;
        background-color: #000;
        padding:1.2em 0 2.8em 0;
        h4{
          font-weight: 700;
        }
      }
    }/*blog_left*/
    .blog_right{
      .back_rect:hover,.pink_rect:hover{
        cursor: pointer;
        opacity: 0.85;
      }
      .back_rect{
        background-image: url(../images/blog_bg.png);
        height:29.2em;
        padding:1em;
        h5{
          font-size: 1.2em;
          padding-top:2em;
        }
        h5{
          padding-top:0;
        }
        h2{
          padding-top:2em;
        }
      }
      .pink_rect{
        color:#fff;
        background-color: #E91D62;
        margin-top:2em;
        padding:1.2em;
        h5{
          margin-bottom: 0;
        }
        h4{
          font-weight: 700;
        }
        p{
          font-size: 1em;
        }
      }
    }/*blog_right*/
  }/*blog*/
  .services{
    background-color: #007AF3;
    padding:0 10em 5em 10em;
    h3,h2{
      text-align: center;
    }
    h3{
      padding-top:2em;
      margin:0;
      padding-bottom:0.2em;
    }
    h2{
      font-weight: 700;
      font-size:1.9em;
      padding-bottom: 1em;
    }
    .service_section{
      padding:0 2em;
      h5{
        font-size: 1.3em;
      }
      p{
        font-size: 0.9em;
      }
    }
  }/*services*/
  .who{
    background-color: #0081FF;
    padding:5em 10em;
    .who_left{
      padding-left:0;
      padding-right:4em;
      h2{
        font-size:2em;
        font-weight: 700;
      }
      h3{
        font-size:1.8em;
      }
      p{
        font-size: 0.9em;
      }
      .btn_who{
        margin-top:1em;
        background-color: #3C4270;
        color:#fff;
        border-radius: 1.5em;
        border:none;
        font-size:0.8em;
        padding:0.7em 2em;
      }
      .btn_who:hover{
        background-color: #505691;
      }
    }/*who_left*/
    .who_right{
      padding-left:4em;
      p{
        font-size: 0.9em;
      }
    }/*who_right*/
  }/*who*/
  .footer{
    padding:4em 10em 4em 10em;
    background:url(../images/footer.png)no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    .footer_left{
      padding-left: 0;
      h3{
        margin-bottom: 0;
      }
      h2{
        font-weight: 700;
        font-size:2em;
        padding-bottom: 0.7em;
      }
      .info_section{
        .footer_info_icon{
          display: inline-block;
          padding-left: 0;
          margin-top:3em;
          text-align: center;
        }
        .footer_left_text{
          display: inline-block;
          margin-top:3em;
          h6{
            margin-bottom:0.4em;
            font-size: 0.9em;
            font-weight:700;
          }
          p{
            font-size:0.8em;
            margin-bottom: 0.4em;
          }
        }
      }
    }/*footer_left*/
    .footer_right{
      margin-bottom:3em;
      h2{
        font-weight: 700;
        font-size:2em;
        padding-bottom: 2em;
      }

      .form-control:focus {
        border-color: #2b2b2b;
        box-shadow: inset 0 1px 1px rgba(43, 43, 43, 0.07), 0 0 8px rgba(97, 105, 74, 0.6);
      }
      .form-group{
        label{
          font-size:0.8em;
        }
        input,textarea{
          margin-left:2em;
          background-color: #2B2B2B;
          border:none;
          border-radius:2em;
        }
        input{
          padding-top:0;
          padding-bottom:0;
        }
        textarea{
          resize: none;
          height:100px;
        }
        .btn_footer{
          background-color: #0280F8;
          margin-top:1em;
          margin-left:2.3em;
          color:#fff;
          border-radius: 1.5em;
          border:none;
          font-size:0.8em;
          padding:0.7em 2em;
        }
        .btn_footer:hover{
          background-color: #39a3f8;
        }
      }
    }/*footer_right*/
    .footer_icons{
      text-align:center;
      color:#fff;
      i:hover{
        color:#fff;
      }

      .social_icon{
        font-size: 1.6em;
        width: 2.5em;
        text-align: center;
        padding-top:0.4em;
        line-height: 1.6em;
        color: #fff;
        border-radius: 50%;
        display: inline-block;
        height:2.5em;
        border:2px solid #fff;
        margin:0.5em;
      }
      .social_icon:hover{
        background-color: #0280F8;
        cursor: pointer;
      }
    }/*footer_icons*/
    .copyright{
      padding-top:5em;
      p{
        text-align: center;
        font-size:0.8em;
      }
    }
  }/*footer*/
}/*jumbotron*/

@media only screen and (max-width: 600px) {
  .jumbotron{
    .header{
      .header_text{
        h3{
          padding:0;
        }
        h1{
          font-size:2em;
        }
        h2{
          font-size: 1.4em;
        }
        p{
          padding-top:0;
          padding-bottom: 0;
        }
      }
      .header_image{
        #dancer{
          display: none;
        }
      }
    }/*header */
    .who{
      .who_left,.who_right{
        padding:0;
      }
      .btn_who{
        margin-bottom:2em;
      }
    }/*who */
    .services{
      .service_section{
        padding:0;
        img{
          padding-bottom:1.3em;
        }
        p{
          padding-bottom:3em;
        }
      }
    }/*services*/
    .clients{
      p{
        padding:0;
        margin-bottom:5em;
      }
      .logo{
        margin-bottom: 2.5em;
      }
    }/*clients*/
    .blog{
      .blog_left{
        padding:0;
        .black_rect{
          margin-bottom:2em;
        }
      }
      .blog_right{
        padding:0;
        .back_rect{
          h2{
            padding:0;
          }
        }
      }
    }/*blog*/
    .footer{
      .footer_right{
        h2{
          margin-top: 2em;
        }
        .btn_footer{
          margin-bottom: 5em;
        }
      }
    }
  }
}/* 600 px*/

@media only screen and (max-width: 400px) {
  .jumbotron{
    .navbar{
      padding:0;
    }
    .header{
      padding:3em .5em 0 .5em;

      .header_image{
        #dancer{
          display: none;
        }
      }
    }/*header */
    .who{
      padding:5em 1em 0 1em;
    }/*who */
    .services{
      padding:0 .5em 0 .5em;
    }/*services*/
    .profiles{
      h2{
        padding:0 2em;
      }
    }
    .clients{
      padding:0 .5em 0 .5em;
      .logo{
        margin-bottom:4em;
      }
    }/*clients*/
    .blog{
      padding:3em .5em 3em .5em;
      .blog_right{
        .back_rect{
          h5{
            display:none;
          }
        }
      }
    }/*blog*/
    .footer{
      padding:3em .5em 3em .5em;
      .footer_right{
        padding-left:0;
      }
    }/*footer*/
  }
}/* 400px*/
@media only screen and (max-width: 500px) {
  .jumbotron{
    .navbar{
      padding:0;
    }
    .header{
      padding:10em 5em 5em 5em;

      .header_image{
        #dancer{
          display: none;
        }
      }
    }/*header */
    .who{
      padding:5em ;
    }/*who */
    .services{
      padding:1em 5em 5em 5em;
    }/*services*/
    .profiles{
      h2{
        padding:0 2em;
      }
    }
    .clients{
      padding:0 5em 0 5em;
      .logo{
        margin-bottom:4em;
      }
    }/*clients*/
    .blog{
      padding:3em 5em 3em 5em;
    }/*blog*/
    .footer{
      padding:3em 5em 3em 5em;
      .footer_left{
        .info_section{
          .footer_info_icon{
            margin-top:0;
            .footer_left_text{
              margin-top:0;
            }
          }
        }
      }
      .footer_right{
        padding-left:0;
      }
    }/*footer*/
  }
}/* 500px*/
@media only screen and (max-width: 700px) {
  .jumbotron{
    .header{
      .header_text{
        h3{
          padding:0;
        }
        h1{
          font-size:2em;
        }
        h2{
          font-size: 1.4em;
        }
        p{
          padding-top:0;
          padding-bottom: 0;
        }
      }
      .header_image{
        #dancer{
          display: none;
        }
      }
    }/*header */
    .who{
      .who_left,.who_right{
        padding:0;
      }
      .btn_who{
        margin-bottom:2em;
      }
    }/*who */
    .services{
      .service_section{
        padding:0;
        img{
          padding-bottom:1.3em;
        }
        p{
          padding-bottom:3em;
        }
      }
    }/*services*/
    .clients{
      p{
        padding:0;
        margin-bottom:5em;
      }
      .logo{
        margin-bottom: 2.5em;
      }
    }/*clients*/
    .blog{
      .blog_left{
        padding:0;
        .black_rect{
          margin-bottom:2em;
        }
      }
      .blog_right{
        padding:0;
        .back_rect{
          h2{
            padding:0;
          }
        }
      }
    }/*blog*/
    .footer{
      .footer_right{
        h2{
          margin-top: 2em;
        }
        .btn_footer{
          margin-bottom: 5em;
        }
      }
    }
  }
}/* 700 px*/
@media only screen and (max-width: 767px) {
  .jumbotron{
    .header{
      .header_text{
        h3{
          padding:0;
        }
        h1{
          font-size:2em;
        }
        h2{
          font-size: 1.4em;
        }
        p{
          padding-top:0;
          padding-bottom: 0;
        }
      }
      .header_image{
        #dancer{
          display: none;
        }
      }
    }/*header */
    .who{
      .who_right{
        padding-left:0;
      }
      .btn_who{
        margin-bottom:2em;
      }
    }/*who */
    .services{
      .service_section{
        padding:0;
        img{
          padding-bottom:1.3em;
        }
        p{
          padding-bottom:3em;
        }
      }
    }/*services*/
    .clients{
      p{
        padding:0;
        margin-bottom:5em;
      }
      .logo{
        margin-bottom: 2.5em;
      }
    }/*clients*/
    .blog{
      .blog_left{
        padding-right:0;
        .black_rect{
          margin-bottom:2em;
        }
      }
      .blog_right{
        padding:0;
        .back_rect{
          h2{
            padding:0;
          }
        }
      }
    }/*blog*/
    .footer{
      .footer_right{
        h2{
          margin-top: 2em;
        }
        .btn_footer{
          margin-bottom: 5em;
        }
      }
    }
  }
}/* 767 px*/
@media only screen and (max-width: 800px) {
  .jumbotron{
    .navbar{
      padding:0 1em;
    }
    .header{
      .header_text{
        h3{
          padding:0;
        }
        h1{
          font-size:2em;
        }
        h2{
          font-size: 1.4em;
        }
        p{
          padding-top:0;
          padding-bottom: 0;
        }
      }

    }/*header */
    .who{
      .who_left,.who_right{
        padding:0;
      }
      .who_right{
        padding-left:3em;
      }
      .who_left{
        padding-right:3em;
      }
      .btn_who{
        margin-bottom:2em;
      }
    }/*who */
    .services{
      .service_section{
        padding:0;
        .col-sm-3{
          padding:0 0 0 3em;
        }
        h5{
          font-size:1em;
        }
        img{
          padding-bottom:1.3em;
        }
        p{
          padding-bottom:3em;
        }
      }
    }/*services*/
    .clients{
      p{
        padding:0;
        margin-bottom:5em;
      }
      .logo{
        margin-bottom: 2.5em;
      }
    }/*clients*/
    .blog{
      .blog_left{
        padding:0 1em 0 0;
        .gray_rect{
          width:100%;
        }
        .black_rect{
          margin-bottom:2em;
          width:100%;
        }
      }
      .blog_right{
        padding:0 0 1em 0;
        .back_rect{
          height:20em;

          h2{
            padding:0;
            font-size:2em;
          }
          h5{
            font-size: 1em;
          }
        }
      }
    }/*blog*/
    .footer{
      .footer_right{
        .btn_footer{
          margin-bottom: 5em;
        }
      }
    }
  }
}/* 800 px*/
@media only screen and (max-width: 1050px) {
  .jumbotron{
    .navbar{
      padding:0 1em;
    }
    .header{
      .header_text{
        h3{
          padding:0;
        }
        h1{
          font-size:2em;
        }
        h2{
          font-size: 1.4em;
        }
        p{
          padding-top:0;
          padding-bottom: 0;
        }
      }

    }/*header */
    .who{
      .who_left,.who_right{
        padding:0;
      }
      .who_right{
        padding-left:3em;
      }
      .who_left{
        padding-right:3em;
      }
      .btn_who{
        margin-bottom:2em;
      }
    }/*who */
    .services{
      .service_section{
        padding:0;
        .col-sm-3{
          padding:0 0 0 3em;
        }
        h5{
          font-size:1em;
        }
        img{
          padding-bottom:1.3em;
        }
        p{
          padding-bottom:3em;
        }
      }
    }/*services*/
    .clients{
      p{
        padding:0;
        margin-bottom:5em;
      }
      .logo{
        margin-bottom: 2.5em;
      }
    }/*clients*/
    .blog{
      .blog_left{
        padding:0 1em 0 0;
        .gray_rect{
          width:100%;
        }
        .black_rect{
          margin-bottom:2em;
          width:100%;
        }
      }
      .blog_right{
        padding:0 0 1em 0;
        .back_rect{
          height:20em;

          h2{
            padding:0;
            font-size:2em;
          }
          h5{
            font-size: 1em;
          }
        }
      }
    }/*blog*/
    .footer{
      .footer_right{
        .btn_footer{
          margin-bottom: 5em;
        }
      }
    }
  }
}/* 1050 px*/
